{% extends 'base.html' %}

{% block content %}
<div class="pure-g">
<div class="pure-u-2-5">
<dir class="posts ">
	{% for post in post_list %}
		<section class="post">
			<header class="post-header">
				<h2 class="post-title"><a href="{% url 'details' id=post.id %}">{{ post.title }}</a>
				</h2>
					<p class="post-meta">
						Time: <a class="post-author" href="#">{{ post.datetime|date:"Y /m /d"}}</a> <a class="post-category post-category-js" href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
					</p>
			</header>
		</section>
</dir>
</div>
</div>
{% endblock %}