<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>my blog of learning</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-5">
        <div class="header">
            <img src="/static/images/myImg.jpg" id="myImg" />
            <h1 class="brand-title">Quanjiang Lee </h1>
            <h2 class="brand-tagline"></h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="https://github.com/leequanjiang" target="_blank">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://twitter.com/QuanjiangLee" target="_blank">Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://heihei520.com/" target="_blank">我的博客</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://github.com/yahoo/pure/" target="_blank">关于pure</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-4-5">
    <div class="pure-g">
        <div class="posts pure-u-3-4" style="padding-right: 4em;">
            {% block content %}
            {% endblock %}
        </div>
        <div class="pure-u-1-4">
<div>
    <input type="text" placeholder="搜索" class="search">
    <input type="button" class="pure-button search-button" name="search" value="搜索">
</div>
<div >
<h3 class="widget-title"><span>文章归档</span></h3>
    <ul id="archList">
    
    </ul>

</div>
<div style="margin-top: 30px;">
    <h3 class="widget-title"><span>近期文章</span></h3>
    <ul id="recList">
        
    </ul>
</div>
</div>
</div>
<div class="footer">
        <div class=" pure-menu-horizontal pure-menu-open">
            <ul style="margin-right: -200px">
                <li><a href="/admin" class="button-success submit-button" target="">登陆帐号</a></li>
                <li><a href="#" target="">忘记密码？</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

</body>
</html>