{% extends "base.html" %}

{% block content %}
<div class="pure-g">
<div class="posts pure-u-3-4">
    {% for posts in postList %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'details' id=posts.id %}">{{ posts.title }}</a></h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ posts.datetime }}</a> <a class="post-category post-category-js" href="#">{{ posts.category }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ posts.content }}
                    </p>
                </div>
                <a class="pure-button" href="{% url 'details' id=posts.id %}">查看更多>>></a>
        </section>
    {% endfor %}
</div>
<div class="pure-u-1-4" style="background-color: lightgray;">
<!--<dir class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="#">{{ post.title }}</a>
                </h2>
                    <p class="post-meta">
                        Time: <a class="post-author" href="#">{{ post.datetime|date:"Y /m /d"}}</a> <a class="post-category post-category-js" href="#" tag=post.category %}">{{ post.category }}</a>
                    </p>
            </header>
        </section>
</dir>-->
<p>
    <input type="text" placeholder="搜索" style="width: 120px">
    <input type="button" class="button-success pure-button" name="search"  style="" value="搜索">
</p>
<div >
<h3>文章归档</h3>
</div>
</div>
</div>
<!-- /.blog-post -->
{% endblock %}
